.Days_weather{
   margin: 30px 0;
   background-color: white;
   padding: 2px 5px;
   border-radius: 10px;
   border: 1px solid #FFFFFF26;
   .days_weather_title{
      padding: 5px;
      margin-left: 20px;
      .h4_title{
         color: black;
         font-size: 25px;
         margin: 15px 10px 25px 0;
      }
   }
   .days_weather_card{
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid;
      .temperature{
         padding: 10px;
         display: flex;
         flex-direction: column;
         margin-bottom: 15px;
         .subtitle{
            margin: 5px 10px;
         }
         .temperature_div{
            display: flex;
            flex-direction: row;
            .temperature{
               color: black;
               font-size: 60px;
               margin: 5px 0;
               font-weight: 500;
            }
            .temp{
               color: black;
               margin-left:5px;
               margin-top: 18px;
               font-size: 15px;
            }
            .temopC{
               color: black;
               font-size: 27px;
               margin-left:3px;
               margin-top: 20px;
            }
         }
      }
      .sunset_div_Img{
         display: flex;
         flex-direction: column;
         margin-bottom: 40px;
         margin-right: 40px;
         .sunSet_img{
            padding: 2px;
            margin: 0 auto;
         }
         .sunset_div{
            display: flex;
            margin: 0 auto;
            .sunrise{
               margin: 0 auto;
            }
         }
      }
   }
   .weather_items{
      margin: 5px 20px;
      display: flex;
      flex-wrap: wrap;
      .weather_item{
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 45%;
         height: 60px;
         margin: 5px 15px;
         box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
         border-radius: 10px;
         padding: 3px 10px;
         .temp_max_min{
            display: flex;
            align-items: center;
            .icon_div{
               width: 30px;
               .icon{
                  width: 30px;
               }
            }
            .subtitle{
               margin-left: 10px;
            }
         }
         .temp{
            display: flex;
            .temp_min_max{
               display: flex;
               .temperature{
                  font-size: 16px;
                  margin-left: 10px;
               }
               .temper_o{
                  font-size: 12px;
                  margin: 10px 4px;
               }
            }
         }
      }
   }
}